body{
    background-image: url(img/bg.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.container{
    width: 70%;
    margin: auto;
    text-align: center;
}

.dice{
    text-align: center;
    display: inline-block;
}

h1{
    margin: 22px;
    font-family: 'Lobster', cursive;
    text-shadow: 5px 0 #232931;
    font-size: 6rem;
    color: #4ECCA3;
}

p{
    font-size: 3rem;
    color: #4ECCA3;
    font-family:'Indie Flower',cursive ;
}

img{
    width: 80%;
}

.Result{
    margin-top: 3px;
    margin-bottom: 2px;
}
.btn{
    border-radius: 15px;
    padding: 9px;
    margin: 2px;
    margin-top: 3px;
    font-size: 2rem;
    font-family: 'Lobster', cursive;
}

.btn:hover{
    border: 2px solid white;
    background-color: #4ECCA3;
}